:root {
  --color1: #282c34;
  --white: white;
  --color3: whitesmoke;
  --color4: #61dafb;
  --rolandColor: #f37d02;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--color1);
  color: var(--white);
  /* text-align: center; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: absolute; */
  /* top: 0; */
  margin: 1rem;
}
header span[role="img"] {
  font-size: 1.3rem;
}
input {
  outline: none;
  font-size: inherit;
  background-color: var(--color3);
  padding: 0.5rem;
  margin: 1rem;
  color: var(--color1);
}
input[type="number"] {
  max-width: 8rem;
}
a {
  color: var(--color4);
  text-decoration: none;
}
button.clear {
  background: none;
  color: inherit;
  outline: none;
  border: none;
}
span[role="img"] {
  color: inherit;
}
.numeral {
  color: var(--color4) !important;
  font-size: large;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
dialog {
  position: absolute;
  top: 1%;
  border: none;
  background: none;
}
label {
  color: var(--color4);
  text-transform: uppercase;
  padding: 0.5rem;
}
main {
  /* border: 1px solid pink;   */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}
footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer div {
  /* align-items: center; */
}
footer div a {
  padding-left: 0.5rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.knob-circle-roland {
  /* note: 
    because the knob component injects css, 
    it's css will be last 
    on every render
    and will have higher priority, 
    to override color from 'main' css 
    mak overriding rule as !important */
  background-color:  var(--rolandColor) !important;
  /* This is the default color */
}
.knob-circle {  
  /* custom */
  background-color:  var(--white) !important;
}
/* 
.knob-dial {  color: pink !important;} 
*/