:root {
  --primary: #282c34;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary);
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* text-align: center; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: absolute; */
  /* top: 0; */
  margin: 1rem;
}
input {
  outline: none;
  font-size: inherit;
  background-color: whitesmoke;  
  padding: 0.5rem;
  margin: 1rem;
  color: var(--primary)
}
a {
  color: #61dafb;  
  text-decoration: none;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
   /* border: 1px solid pink;   */
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
   margin:0;
   padding: 0;
}
footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer div {  
  /* align-items: center; */  
}
footer div a {
  padding-left: 0.5rem;  
}
