:root {
  --color-extra-20: #61dafb;
  --rolandColor: #f37d02;
  --color0: #f2eef1;
  --color5: #ded9de;
  --color10: #c8c4c9;
  --color20: #978ea0;
  --color30: #676277;
  --color40: #404152;
  /* ... */
  --color50: #282c34;
  /* ... */
  --color60: #131420;
  --color70: #0a0812;
  --color80: #050309;
  --color90: #020103;
  --color100: #000000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--color50);
  color: var(--color0);
  /* text-align: center; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: absolute; */
  /* top: 0; */
  margin: 1rem;
}
header span[role="img"] {
  font-size: 1.3rem;
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: none;
  outline: none;  
  box-shadow: none;
  color: var(--color-extra-20);
  background-color: var(--color40);
  border: 1px solid var(--color-extra-20);
  padding-left: 0.25rem;
}
a {
  color: var(--color-extra-20);
  text-decoration: none;
}
button.clear {
  background: none;
  color: inherit;
  outline: none;
  border: none;
}
span[role="img"] {
  color: inherit;
}
.numeral {
  color: var(--color-extra-20) !important;
  font-size: large;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
dialog {
  position: absolute;
  top: 1%;
  border: none;
  background: none;
  display: none;  
  width: 1%;  
}
dialog.open {
  width: 70%;
  max-width: 40rem;
  max-height: 90%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;  
  background-color: var(--color40);  
  opacity: 0.95;  
  overflow: hidden;
  border: 1px dashed var(--color-extra-20);
}
pre {
  color: var(--color10);
  font-size: x-small;
}
label {
  color: var(--color-extra-20);
  text-transform: uppercase;
  padding: 0.5rem;
}
label.fixed {
  width: 15rem;
}
select {  
  background: none;
  color: var(--color10);
  outline: none;
  border: none;
  width: 10rem;  
  font-size: medium;
  font: inherit;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select:after {
  content: "?";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  background: #000;
  color: white;
  pointer-events: none;
}
main {
  /* border: 1px solid pink;   */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}
footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer div a {
  padding-left: 0.5rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.knob-circle-roland {
  /* note: 
    because the knob component injects css, 
    it's css will be last 
    on every render
    and will have higher priority, 
    to override color from 'main' css 
    mak overriding rule as !important */
  background-color: var(--rolandColor) !important;
  /* This is the default color */
}
.knob-circle {
  /* custom */
  background-color: var(--color0) !important;
}
/* 
.knob-dial {  color: pink !important;} 
*/
.red-labels {
  stroke: lightyellow !important;
}
.red-dial {
  stroke: red !important;
}
.icon {
  font-size: inherit;
}
.icon.xx-large {
  font-size: xx-large;
}
.settings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
.margin-1 {
  margin: 1rem
}
.align-center {
  align-items: center;  
  align-content: center;  
}
.color-extra-20 {  
  color: var(--color-extra-20) !important;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}